<%= form_for(@restaurant) do |form| %>
<% if @restaurant.errors.any? %>
	<div id="error_explanation" >
		<h2> <%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved: </h2>

		<ul>
			<% @restaurant.errors.full_messages.each do |msg| %>
			<li> <%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<p>
		<%= form.label :name %> <br>
		<%= form.text_field :name %>
	</p>

	<p>
		<%= form.label :address %> <br>
		<%= form.text_field :address %>
	</p>

	<p>
		<%= form.label :phone %> <br>
		<%= form.text_field :phone %>
	</p>

	<p>
		<%= form.label :capacity %> <br>
		<%= form.text_field :capacity %>
	</p>

	<p>
		<%= form.label :menu %> <br>
		<%= form.text_field :menu %>
	</p>

	<p>
		<%= form.submit "Save" %> <br>
	</p>
	
<%end%>